<ion-view title="{{'associazione' | translate}}">
  <ion-content class="padding">
    <img src="img/logo.png" alt="" class="logo">
    <div translate>associazione_copy</div>

    <div class="row ctas">
      <div class="col"><a class="button icon-left ion-ios-world-outline" onclick="window.open('http://www.arteturismo.org', '_system');" target="_blank">{{'visita_il_sito' | translate}}</a></div>
      <div class="col"><a class="button icon-left ion-ios-world-outline" onclick="window.open('tel:+393663647265', '_system');"target="_blank">{{'chiama' | translate}}</a></div>
    </div>

    <h2>Partner</h2>

    <div class="loghi row">
      <div class="col">
       <h6>REGIONE SICILIANA</h6>
        <img src="img/institutional/regione-sicilia.png" alt="" class="fit-text">
        <p>ASSESSORATO REGIONALE
          DELL'AGRICOLTURA,
          DELLO SVILUPPO RURALE
          E DELLA PESCA MEDITERRANEA</p>
      </div>
      <div class="col">
        <img src="img/institutional/ministero-politiche-agricole.png" alt="">
      </div>
    </div>
    <div class="loghi row">
      <div class="col">
        <img src="img/institutional/gal-metropoli-est.jpg" alt="">
      </div>
      <div class="col">
        <img src="img/institutional/programma-sviluppo-rurale.gif" alt="">
      </div>
    </div>
    <div class="loghi row">
      <div class="col">
        <img src="img/institutional/unione-europea-feasr.png" alt="" class="eu">
        <h6 class="blu">FEASR</h6>
      </div>
      <div class="col">
        <img src="img/institutional/gal-leader.gif" alt="">
      </div>
    </div>
  </ion-content>
</ion-view>
