<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="{{'associazione' | translate}}" icon="icon ion-home" href="#/tab/assoc">
    <ion-nav-view name="tab-assoc"></ion-nav-view>
  </ion-tab>


  <!-- Info & Services Tab -->
  <ion-tab title="{{'info_e_servizi' | translate}}" icon="icon ion-information" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>


  <!-- Paths Tab -->
  <ion-tab title="{{'itinerari' | translate}}" icon="icon ion-map" href="#/tab/paths">
    <ion-nav-view name="tab-paths"></ion-nav-view>
  </ion-tab>


</ion-tabs>
