# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
ArteTurismo-signed.apk
ArteTurismo.apk
ArteeTurismo.ipa
Arte_e_Turismo.mobileprovision
arte-turismo.zip
distribution-apr1.p12
icon.png
materiale app/
my-release-key.keystore
res/